@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 64px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 626px;
    margin-bottom: 64px;
    /* border: 1px solid black; */
}
h1{
    color: #3F3D56;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 32px auto 16px;
}
h1 span{
    color: #EE24FF;
    font-weight: bold;
}
p{
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 32px;
}
p span{
    color: #3F3D56;
    font-weight: bold;
}
ul{
    list-style: none;
    display: flex;
    gap: 42px;
    justify-content: center;
    margin-bottom: 40px;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: #3F3D56;
}
#line{
    height: 0;
    width: 391px;
    border: 1px #ECEFF2 solid;
    margin: 0 auto 8px;
}
#wave{
    width: 100%;
}